.App {
    height: 100%;
}

#header {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid gray;
    color: blue;
    font-weight: bold;
    min-height: 8%;
}

#control-panel {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    color: white;
}

#chart {
    display: flex;
    justify-content: center;
    min-height: 80%;
    border: 1px solid green;
}

#footer {
    min-height: 8%;
}