.App {
    height: 100%;
}

#header {
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: bold;
    min-height: 8%;
}

#control-panel {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    color: white;
}

#chart {
    display: flex;
    justify-content: center;
    min-height: 80%;
}

#footer {
    min-height: 8%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}